@model MovieXReview.Models.Review

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewTitle" class="control-label"></label>
                <input asp-for="ReviewTitle" class="form-control" />
                <span asp-validation-for="ReviewTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewContent" class="control-label"></label>
                <input asp-for="ReviewContent" class="form-control" />
                <span asp-validation-for="ReviewContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTotal" class="control-label"></label>
                <input asp-for="ImageTotal" class="form-control" />
                <span asp-validation-for="ImageTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ViewerId" class="control-label"></label>
                <select asp-for="ViewerId" class ="form-control" asp-items="ViewBag.ViewerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
