html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.btn-yellow {
    background-color: #CF8C3F !important; 
    color: white !important; 
}

.btn-green {
    background-color: #1E5F6C !important; 
    color: white !important; 
}

.btn-red {
    background-color: #903B3B !important; 
    color: white !important; 
}

.btn-grey {
    background-color: #383838 !important;
    color: white !important;
}

.bg-darkgary {
    background-color: #292929 !important;
}

.bg-lightblack {
    background-color: rgba(2, 2, 2, 0.5) !important;
}

.bg-black {
    background-color: #000000 !important;
    color: white !important;
}

.list-group-item {
    background-color: #000000;
    border-color: #383838;
}

.badge {
    padding: 8px 12px;
    font-weight: normal;
}